.green,
.red,
.blue {
  padding: 16px;
  display: block;
}

.green {
  color: forestgreen;
  background-color: #ecedee;
}
.red {
  color: red;
  background-color: #ecedee;
}
.blue {
  background-color: #96bdff;
}
