app-infection-data {
  margin: 8px 0;
  display: block;
  font-size: 16px;
  line-height: 1.26;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 8px;
  border: 1px solid #96bdff;
  overflow: hidden;
}
